#signUp {
    width: 520px;
    max-width: 100%;
    border: 2px solid #9e9797;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 24px auto;
    padding-top: 32px;
  }
  #signuptxt {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 32px;
    padding: 8px;
  }
  .signupinput {
    width: 75%;
    border: 2px solid #d4d4d4;
    border-radius: 10px;
    font-size: 24px;
    margin-bottom: 32px;
    padding: 8px;
  }
  #signupbutton {
    background-color: green;
    color: white;
    width: 75%;
    border-radius: 50px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 32px;
    padding: 8px;
  }
  #alreadyhaveaccount {
    color: #aaa9a9;
    font-size: 24px;
    font-weight: lighter;
    cursor: pointer;
    margin-bottom: 32px;
    margin-top: 10px;
    padding: 8px;
  }
  #logIn {
    color: green;
    font-size: 24px;
    font-weight: lighter;
    cursor: pointer;
    margin-bottom: 32px;
    padding: 8px;
  }
  hr {
    color: #aaa9a9;
  }
  #signupbutton:hover {
    background-color: white;
    color: green;
    border: 1px solid green;
    font-size: 22px;
  }
  #container {
    display: flex;
    flex-direction: column;
  }
  
