#hire {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0px;
    padding-bottom: 16px;
    min-height: 70vh;
  }

  #bustxt {
    font-size: 60px;
    font-weight: bold;
    color: rgb(186, 184, 181);
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .rectanglee {
    display: flex;
    width: 500px;
    height: 190px;
    background: white;
    border: 2px solid #dedbdb;
    border-radius: 8px;
    box-shadow: 1px 3px grey;    
    margin-bottom: 28px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    cursor: pointer;
    
  }

  .workerimg {
    width: 75px;
    height: 75px;
    border: 2px solid white;
    border-radius: 100px;
    float: left;
    cursor: pointer;
    margin: auto;
    
  }
  .rectangle:hover{
    border-color: green;
  }

  .recttxt {
    color: rgb(66, 64, 64);
    font-size: 20px;
    text-align: left;
    margin-left: 0px;
    width:240px;
    float:left;
  }

  .drivertxt {
    color: blueviolet;
    font-size: 20px;
    text-align: left;
    margin-left: 0px;
    width:240px;
    float:left;
  }

  .servicetxt {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-align: left;    
  }

  .statustxt {
    color: rgb(138, 118, 118);
    font-size: 15px;
    font-weight: 400;
    padding: 16px;
    text-align: left;
    margin-left: 1px;

  }
 
  .activebutton {
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    padding-left: 10px;
    margin: auto;
    border:1px solid green
  }
  .outOfServicebutton {
    background-color: red;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    padding-left: 10px;
    margin: auto;
    border:1px solid green
  }
  .maintenancebutton {
    background-color: yellow;
    color: black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    padding-left: 10px;
    margin: auto;
    border:1px solid green
  }
  .endbutton:hover {
    background-color: white;
    color: green;
    border: 1px solid green;
  }

  .deleteimg {
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
    padding: 8px;
    margin: auto;
    
  }
  .deleteimg:hover {
    border: 2px solid white;
  }
