hr {
  color: #aaa9a9;
}
.inputicon {
  width: 44px;
}
.input {
  width: 100%;
  display: flex;
}
input {
  border: 0px;
  font-size: 24px;
  width: 100%;
  border-radius: 10px;
  margin-right: 18px;
  outline: none;
}
#searchdiv {
  height: 74vh;
  display: flex;
  flex-direction: column;
  position: center;
}
#inputfields {
  margin: auto;
  max-width: 100%;
}
.inputboxcontaier {
  width: 480px;
  max-width: 100%;
  border: 2px solid #aaa9a9;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 32px;
}
.li {
  text-align: left;
  font-size: 18px;
  width: 100%;
  padding: 16px;
  cursor: pointer;
}
.resultwrapper {
  position: absolute;
  background-color: white;
  width: 500px;
  max-width: 90%;
  max-height: 120px;
  overflow: scroll;
  overflow-x: hidden;
}
#searchbutton {
  background-color: green;
  color: white;
  width: 75%;
  border-radius: 50px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
  padding: 8px;
}
#searchbutton:hover {
  background-color: white;
  color: green;
  border: 1px solid green;

  font-size: 22px;
}
.li:hover {
  background-color: green;
  color: white;
}
.select {
  border: white;
}

@media (max-width: 700px) {
  #service {
    font-size: 18px;
  }
}
