#signup {
    width: 1000px;
    max-width: 100%;

    min-height: 400px;

    min-height: 480px;

    border: 2px solid #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 24px auto;
    padding-top: 32px;
  }

  #signuptxt {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 32px;
    padding: 8px;
  }

  #alreadyhaveaccount {
    color: #aaa9a9;
    font-size: 24px;
    font-weight: lighter;
    cursor: pointer;
    margin-bottom: 10px;  
  }


  #logIn {
    color: green;
    font-size: 24px;
    font-weight: lighter;
    cursor: pointer;
    margin-top: 40px;
  }

  #container {
    display: flex;
    flex-direction: column;
  }

  .rectangle1 {
    display: inline-block;
    width: 150px;
    height: 185px;
    background: rgb(255, 254, 254);
    border: 2px solid #dedbdb;
    border-radius: 10px; 
    margin-bottom: 60px;
  }
  .rectangle2 {
    display: inline-block;
    width: 150px;
    height: 185px;
    background: rgb(255, 254, 254);
    border: 2px solid #dedbdb;
    border-radius: 10px;
    margin-left: 200px; 
    margin-bottom: 60px;
  }

  .picture {
    width: 85%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 10px;
  }
  
  .rectext {
    color: black;
    font-size: 22px;
    padding: 1px;
    margin-top: 1px;
  }

  .rectangle1:hover {
    background-color: white;
    color: green;
    border: 1px solid green;
    font-size: 22px;
    cursor: pointer;
  }

  .rectangle2:hover {
    background-color: white;
    color: green;
    border: 1px solid green;
    font-size: 22px;
    cursor: pointer;
  }
  
