#mms {
  color: green;
  font-size: 48px;
}
#Logo {
  float: left;
  width: 15%;
  cursor: pointer;
}
#title_bar {
  width: 100;
  height: 72px;
  padding: 10px;
  border-bottom: 2px solid #aaa9a9;
}
#title_bar_signup {
  background-color: green;
  border-radius: 50px;
  font-size: 24;
  width: 50%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
#title_bar_login {
  font-size: 24;
  border-radius: 50px;
  width: 50%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: #aaa9a9;
  cursor: pointer;
  text-decoration: none;
}
#buttons {
  display: flex;
  float: right;
  width: 25%;
  margin-right: 10px;
}
#title_bar_login:hover {
  color: green;
}
#title_bar_signup:hover {
  color: green;
  background-color: white;
  border: 1px solid green;
}
#titlebarimg {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 100px;
  float: right;
  cursor: pointer;
  margin-right: 8px;
}
#titlebarimg:hover {
  border: 2px solid green;
}

.tab {
  color: #aaa9a9;
  margin: auto;
  font-size: 24px;
  text-decoration: none;
}

.tab:hover {
  color: green;
}

.tabcontainer {
  width: 50%;
  display: flex;
  margin: auto;
  margin-bottom: 8px;
}
#titlebarclientcontainer {
  display: flex;
  float: right;
  height: px;
  width: 50%;
}
@media (max-width: 900px) {
  #titlebarclientcontainer {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .tab {
    font-size: 14px;
  }
  #titlebarimg {
    margin-right: 0px;
  }
}
#lgm {
  border: 1px solid green;
  border-radius: 10px;
  width: 180px;
  padding: 8px;
  position: absolute;
  right: 32px;
  top: 102px;
  display: none;
}
.logoutmenuitem {
  color: white;
  background-color: green;
  padding: 8px;
  border: 2px solid green;
  cursor: pointer;
  margin-bottom: 8px;
}
.logoutmenuitem:hover {
  color: green;
  background-color: white;
}
#notification{
  position: absolute;
  top: 16px;
  left: 0px;
  display: none;
  width: 100%;
}
#notification p{
  border:2px solid green;
  border-radius:10px;
  color: green;
  font-size: 18px;
  font-weight: bold;
  padding: 16px;
  background-color: white;
  max-width: 300px;
  margin:auto;
}
