#login {
  width: 520px;
  max-width: 100%;
  border: 2px solid #d4d4d4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 24px auto;
  padding-top: 32px;
}
#logintxt {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 32px;
  padding: 8px;
}
.logininput {
  width: 75%;
  border: 2px solid #d4d4d4;
  border-radius: 10px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 8px;
}
#loginbutton {
  background-color: green;
  color: white;
  width: 75%;
  border-radius: 50px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 32px;
  padding: 8px;
}
#forgotpass {
  color: #aaa9a9;
  font-size: 24px;
  font-weight: lighter;
  cursor: pointer;
  margin-bottom: 32px;
  padding: 8px;
}
hr {
  color: #aaa9a9;
}
#loginbutton:hover {
  background-color: white;
  color: green;
  border: 1px solid green;
  font-size: 22px;
}
#container {
  display: flex;
  flex-direction: column;
}
