#profilediv {
  margin: 16px auto;
  width: 80%;
  min-height: 68vh;
  padding-bottom: 16px;
  
}
#profiletxt {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 32px;
  padding: 8px;
}
#profilepic {
  width: 216px;
  height: 216px;
  border-radius: 216px;
  margin: auto;
}
#profilepicdiv {
  width: fit-content;
  margin: auto;
  position: relative;
}
#nameediticon {
  width: 36px;
}
#locationediticon {
  width: 24px;
}
#phonenoediticon {
  width: 24px;
}
#locaionicon {
  width: 24px;
}
#phoneicon {
  width: 24px;
}
.userinfo {
  
  padding: 16px;
  width: 85%;
  margin: auto;
}
#basicinfotxt {
  min-width: 50%;
  margin: auto;
  text-align: left;
}
#basicinfo {
  display: flex;
  width: 85%;
  margin: auto;
  padding: 16px;
}

#username {
  font-size: 48px;
  font-weight: bold;
  margin: 8px;
}
#Profilelocation {
  font-size: 24px;
  margin: 8px;
}
#phoneno {
  font-size: 24px;
  margin: 8px;
}

.pointer {
  cursor: pointer;
}
#educationdiv {
  padding: 16px;
  width: 85%;
  margin: auto;
}
.infotitle {
  font-size: 36px;
  text-align: left;
  margin-bottom: 24px;
}
.infoediticon {
  width: 36px;
}
#buttondiv {
  min-width: 20%;
  display: flex;
}
#profilehirebtn {
  color: white;
  background-color: green;
  padding: 8px;
  border: 2px solid green;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
}
#profilehirebtn:hover {
  color: green;
  background-color: white;
}
#educationinstitute {
  font-size: 18px;
  font-weight: bold;
}
#educationyear {
  font-size: 18px;
  color: #797979;
}
.educationlistitem {
  text-align: left;
  margin-bottom: 16px;
}

#profilepicedit {
  background-color: #a9aaa9;
  width: 70px;
  height: 70px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 100%;
}
#profilepiceditimg {
  width: 42px;
  margin: auto;
}
#profileservicelist {
  display: flex;
  overflow: auto;
  scrollbar-color: white #a9a9a9;
  width: fit-content;
  max-width: 100%;
}
.profileservicelistitem {
  color: white;
  background-color: green;
  margin-right: 16px;
  margin-bottom: 8px;
  width: fit-content;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
}
.profileworkshitorylistitem {
  background-color: #fcfcfc;
  width: 80%;
  padding: 8px;
  margin-bottom: 8px;
  box-shadow: 10px 5px 5px #a9a9a9;
}
#profileworkhistorylist {
  max-height: 150vh;
  overflow: auto;
  scrollbar-color: white #a9a9a9;
}
.workwith {
  font-size: 24px;
  width: fit-content;
  margin-bottom: 8px;
  text-align: left;
}
.rating {
  width: fit-content;
  margin-bottom: 8px;
}
.workhistoryrating {
  width: 40px;
}
.description {
  width: fit-content;
  margin-bottom: 8px;
  text-align: left;
}

.tag {
  color: white;
  background-color: green;
  width: fit-content;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 16px;
}

@media (max-width: 1050px) {
  #basicinfo {
    flex-direction: column;
  }
  #basicinfotxt {
    text-align: center;
  }
}

@media (max-width: 700px) {
  #Profilelocation {
    font-size: 18px;
  }
  #phoneno {
    font-size: 18px;
  }
  #username {
    font-size: 24px;
  }
  #nameediticon {
    width: 24px;
  }
  #locationediticon {
    width: 18px;
  }
  #phonenoediticon {
    width: 18px;
  }
  #locaionicon {
    width: 18px;
  }
  #phoneicon {
    width: 18px;
  }
  #educationtitle {
    font-size: 24px;
  }
  #educationediticon {
    width: 24px;
  }
  .profileservicelistitem {
    font-size: 18px;
  }
  .workhistoryrating {
    width: 36px;
  }
}
